<!DOCTYPE html>
<html>
{% load staticfiles %}
<link href="{%static "css/adstyle.css" %}" rel="stylesheet" type="text/css" />
{% include "header.html" %}
<style>
    body{
        background-color: #F2F2F2;
        margin-left: 220px;
        margin-top: 60px;
    }
</style>
<body>
{% include 'menu.html' %}
<div class="home">
    <div class="homepage">
        <div class="ptbt"><a>运维平台</a></div>
        <div class="pagename"><a>首页面板</a></div>
        <div class="dangqianweizhi"><a>首页</a></div>
    </div>
</div>
<div class="content" align="center">
    <ol class="breadcrumb"  style="background-color: #FFFFFF; margin-bottom: 15px; width: 95%; height: 50px;">
        <li class="active" style="color: #1c2b36;text-align: left; line-height: 50px;margin-left: 10px; font-size: 15px;"><b>cpu数据信息</b></li>
    </ol>
    <div class="jktu" style="width: 95%;background-color: #FFFFFF; margin-bottom: 20px;">
            {{ div_elm|safe }}
            {{ div_elm_line|safe }}
            {{ div_elm_stack|safe }}
    </div>
</div>
</body>
    {% for div_script_elm in div_script_elm_list %}
        {{ div_script_elm|safe }}
    {% endfor %}
    {% for div_script_elm in div_script_elm_list_line %}
        {{ div_script_elm|safe }}
    {% endfor %}
    {% for div_script_elm in div_script_elm_list_stack %}
        {{ div_script_elm|safe }}
    {% endfor %}

</html>


